<launch>
  <arg name="debug" default="true" /> 

  <arg name="video_path" default="/home/docker/catkin_ws/data/CarroAutonomo.avi" />
  <arg name="loop" default="true" />
  <node name="video_publisher" pkg="video_publisher" type="video_publisher_node" output="screen" cwd="node" >
      <param name="video_path" value="$(arg video_path)" />
      <param name="loop" value="$(arg loop)" />
  </node>

  <node name="lines_detector" pkg="lines_detector" type="lines_detector_node" output="screen" cwd="node" ns="/automodel" >
  		<rosparam command="load" file="$(find lines_detector)/config/config.yaml" />
  </node>

  <node if="$(arg debug)" name="rqt_gui" pkg="rqt_gui" type="rqt_gui" output="screen"
        args="--perspective-file $(find lines_detector)/config/lines_detector.perspective" />

</launch>
